body {
  background-color: #131313;
  margin: 0;
}
/*Верхня частина меню*/

.header {
  border-bottom: 1px solid #272727;
  margin: 0 auto;
  overflow: auto;
  float: left;
  padding: 1rem 0;
  padding-left: 200px;
  width: 74%;
}

.top_menu {
  float: right;
}

.top_menu,
.navigation_menu {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding: 0;
  margin: 0;
}
/*навігація з ссилками*/
.navigation_menu a {
  display: inline-block;
  padding: 1.5rem 0.3rem 0 1.5rem;
}

/*Основний тег*/

h1 {
  color: white;
  margin-left: 200px;
  font-size: 30px;
  display: inline-block;
}

/*Таблиця*/

.basis_table {
  text-align: left;
}

table {
  color: white;
  width: 1146px;
  height: 400px;
  margin-left: 200px;
}

td {
  border-top: 1px solid #272727;
  font-family: "Roboto", sans-serif;
}

thead {
  color: #727272;
}

/*сторінки*/

.page {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
